body {
    font-family: 'Montserrat', sans-serif;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 106.5vh;
    background-image: url("./L3.jpg");
    background-size: cover;
    background-blend-mode: overlay;
    opacity: 0.8;
    z-index: -1;
}

::-webkit-scrollbar {
    width: 0.3rem;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #328336;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.header {
    width: 99.7vw;
    text-align: center;
    background: linear-gradient(to right, #4CAF50, #2E7D32);
    padding: 20px;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.header h1 {
    margin: 0;
    font-size: 2.3rem;
}

.about-us {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: justify;
    width: 400px;
    color: rgb(54, 54, 54);
    line-height: 25px;
    margin-top: 2rem;
}

.about-us h2 {
    color: #4CAF50;
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 0rem;
}

.container {
    background-color: rgba(13, 13, 13, 0.9);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 400px;
    margin-top: 20px;
    height: 290px;
}

.fa-upload {
    margin-right: 15px;
}

.upload-text {
    text-align: justify;
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    margin-top: 0rem;
}

.upload-box {
    background-color: hsl(0, 0%, 17%); /* Dark background color */
    padding: 9px;
    align-items: center;
    border-radius: 10px;
    border: 2px dashed #aaa; /* Dashed border to indicate drop area */
    text-align: center;
    position: relative;
    width: 21rem;
    height: 3rem;
    font-size: 0.6rem;
}

.upload-box:hover {
    border-color: #4CAF50;
}

input[type="file"] {
    display: none;
}

.browse-btn {
    border: none;
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.browse-btn:hover {
    background-color: #2E7D32;
    transform: scale(1.05);
}

.file-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.uploaded-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
}

.remove-btn {
    border: none;
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.remove-btn:hover {
    background-color: darkred;
    transform: scale(1.05);
}

.classify-btn {
    border: none;
    background-color: #4CAF50;
    color: white;
    margin-top: 1rem;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: s0.3s ease;
}

.classify-btn:hover {
    background-color: #2E7D32;
    transform: scale(1.05);
}

.classify-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.prediction {
    margin-top: 20px;
    background-color: #e8f5e9;
    padding: 10px;
    border-radius: 5px;
}

.prediction span {
    font-weight: bold;
    color: #4CAF50;
}

footer {
    margin-top: 15px;
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    width: 99.7vw;
    position: relative;
    margin-top: 0.rem;
    bottom: 0;
}

footer a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #4CAF50;
}